<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="jumbotron">
    <h2>
      Open Weather Assignment
    </h2>
    <p>
      Enter the cities of your choice, and select them from the list below to see the weather at that location!
    </p>
  </div>
  <div class="row">
    <div class="container">
      <app-weather-input></app-weather-input>        
    </div>
    <div class="col-xs-6">
      <app-weather-list></app-weather-list>
    </div>
    <div class="col-xs-6">
      <app-weather-detail></app-weather-detail>         
    </div>
  </div>
</div>
<div class="footer">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="text-center">Powered by <a href="https://openweathermap.org">OpenWeather</a></p>
      </div>
    </div>
  </div>
