<div class="row">
  <div class="col-md-12">

    <form novalidate
            (ngSubmit)="processForm()" #queryForm="ngForm">

      <div class="form-group" [ngClass]="{'has-warning': !queryField.valid}">
        <label for="query">Search:</label>

        <input type="text" name="query" id="query" class="form-control" size="50"
               required #queryField="ngModel"
               ngModel>
        <p class="help-block" *ngIf="!queryField.valid">
          Please enter a query text {{ !queryField.valid }}
        </p>

      </div>

      <div class="form-group">

        <button class="btn btn-default" type="button" (click)="clearForm()">
          Clear
        </button>

        <button class="btn btn-warning" type="submit"
                [disabled]="!queryForm.valid">
          Search
        </button>
      </div>

    </form>

  </div>
</div>
